.imgcancha {
    height: 250px;
    width: 350px;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
    padding: 25px;
}

.imgmaquinadep {
    height: 250px;
    width: 250px;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
    padding: 25px;
}

.d-none {
    display: none;
}

.text_1 {
    color: black;
    text-decoration: none;
}

.text_1:hover {
    text-decoration: underline;
}

.text_2 {
    color: black;
    text-decoration: none;
}

.text_2:hover {
    text-decoration: underline;
}

.padi {
    padding: 100px;
}

.subtitulo {
    font-size: 20px;
    font-weight: bold;
}

.col-md-4, .card {
    padding: 10px;
}

h3 {
    margin-left: 10%;
}

@media (max-width: 768px) {
    
    .imgcancha {
        height: 200px;
        width: 250px;
        transition: transform 0.3s ease-in-out;
        transform: scale(1.05);
    }

    .imgmaquinadep {
        height: 250px;
        width: 250px;
        transition: transform 0.3s ease-in-out;
        transform: scale(1.05);
    }
    
    img {
        padding: 10px;
    }
}